[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/rainbow"]
	path = vim/bundle/rainbow
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/glsl"]
	path = vim/bundle/glsl
	url = https://github.com/Nemo157/glsl.vim.git
[submodule "vim/bundle/foldutil"]
	path = vim/bundle/foldutil
	url = https://github.com/vim-scripts/foldutil.vim.git
[submodule "vim/bundle/genutils"]
	path = vim/bundle/genutils
	url = https://github.com/clones/vim-genutils.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "vim/bundle/a"]
	path = vim/bundle/a
	url = https://github.com/vim-scripts/a.vim
[submodule "git/gitignore"]
	path = git/gitignore
	url = https://github.com/silentlamb/gitignore
